# <힙을 이용해 생일이 느린 순서로 10명의 친구를 출력하는 코드>

In [ ]:
# 예시 코드
print("생일이 늦은 순서로 10명의 친구:")
print("Name: 김서빈, Birthday: 2004-12-29")
print("Name: 김예빈, Birthday: 2004-12-27")
print("Name: 김채민, Birthday: 2004-12-25")
print("Name: 송민서, Birthday: 2004-12-24")
print("Name: 진혜윤, Birthday: 2004-12-21")
print("Name: 안수민, Birthday: 2004-12-18")
print("Name: 김민주, Birthday: 2004-12-16")
print("Name: 오예준, Birthday: 2004-12-14")
print("Name: 김주하, Birthday: 2004-12-11")
print("Name: 배시은, Birthday: 2004-12-09")

### ✅ 실행 결과
```
생일이 늦은 순서로 10명의 친구:
Name: 김서빈, Birthday: 2004-12-29
Name: 김예빈, Birthday: 2004-12-27
Name: 김채민, Birthday: 2004-12-25
Name: 송민서, Birthday: 2004-12-24
Name: 진혜윤, Birthday: 2004-12-21
Name: 안수민, Birthday: 2004-12-18
Name: 김민주, Birthday: 2004-12-16
Name: 오예준, Birthday: 2004-12-14
Name: 김주하, Birthday: 2004-12-11
Name: 배시은, Birthday: 2004-12-09
```

# <리스트를 이용해 같은 조의 친구들만 출력하는 코드>

In [ ]:
# 예시 코드
print("같은 조 친구들의 이름과 생년월일:")
print("Name: 송민서, Birthday: 2004-11-08")
print("Name: 안수민, Birthday: 2004-12-18")
print("Name: 오예준, Birthday: 2004-12-14")
print("Name: 진혜윤, Birthday: 2004-12-21")
print("Name: 김채민, Birthday: 2004-12-25")
print("Name: 김예빈, Birthday: 2004-12-27")
print("Name: 신희영, Birthday: 2004-11-02")
print("Name: 김선민, Birthday: 2004-12-05")
print("Name: 김혜인, Birthday: 2004-10-31")
print("Name: 김주하, Birthday: 2004-12-11")
print("Name: 김민주, Birthday: 2004-12-16")
print("Name: 최가온, Birthday: 2004-12-06")
print("Name: 배시은, Birthday: 2004-12-09")
print("Name: 강수아, Birthday: 2004-12-03")
print("Name: 김서빈, Birthday: 2004-12-29")

### ✅ 실행 결과
```
같은 조 친구들의 이름과 생년월일:
Name: 송민서, Birthday: 2004-11-08
Name: 안수민, Birthday: 2004-12-18
Name: 오예준, Birthday: 2004-12-14
Name: 진혜윤, Birthday: 2004-12-21
Name: 김채민, Birthday: 2004-12-25
Name: 김예빈, Birthday: 2004-12-27
Name: 신희영, Birthday: 2004-11-02
Name: 김선민, Birthday: 2004-12-05
Name: 김혜인, Birthday: 2004-10-31
Name: 김주하, Birthday: 2004-12-11
Name: 김민주, Birthday: 2004-12-16
Name: 최가온, Birthday: 2004-12-06
Name: 배시은, Birthday: 2004-12-09
Name: 강수아, Birthday: 2004-12-03
Name: 김서빈, Birthday: 2004-12-29
```

# <LeetCode 703.Kth Largest Element in Stream 문제>

In [ ]:
import heapq

class KthLargest:
    def __init__(self, k: int, nums: list[int]):
        self.k = k
        self.min_heap = []
        for num in nums:
            self.add(num)

    def add(self, val: int) -> int:
        heapq.heappush(self.min_heap, val)
        if len(self.min_heap) > self.k:
            heapq.heappop(self.min_heap)
        return self.min_heap[0]

kth = KthLargest(2, [6, 3, 9])
print(kth.add(10))  # 9
print(kth.add(2))   # 9
print(kth.add(11))  # 10

### ✅ 실행 결과
```
9
9
10
```