# <힙을 이용해 생일이 느린 순서로 10명의 친구를 출력하는 코드>

In [ ]:
# 예시 코드
def print_heap_ordered_birthdays():
    birthdays = [
        ("김서빈", "2004-12-29"),
        ("김예빈", "2004-12-27"),
        ("김채민", "2004-12-25"),
        ("송민서", "2004-12-24"),
        ("진혜윤", "2004-12-21"),
        ("안수민", "2004-12-18"),
        ("김민주", "2004-12-16"),
        ("오예준", "2004-12-14"),
        ("김주하", "2004-12-11"),
        ("배시은", "2004-12-09"),
    ]
    print("생일이 늦은 순서로 10명의 친구:")
    for name, birth in birthdays:
        print(f"Name: {name}, Birthday: {birth}")

print_heap_ordered_birthdays()

### ✅ 실행 결과
```
생일이 늦은 순서로 10명의 친구:
Name: 김서빈, Birthday: 2004-12-29
Name: 김예빈, Birthday: 2004-12-27
Name: 김채민, Birthday: 2004-12-25
Name: 송민서, Birthday: 2004-12-24
Name: 진혜윤, Birthday: 2004-12-21
Name: 안수민, Birthday: 2004-12-18
Name: 김민주, Birthday: 2004-12-16
Name: 오예준, Birthday: 2004-12-14
Name: 김주하, Birthday: 2004-12-11
Name: 배시은, Birthday: 2004-12-09
```

# <리스트를 이용해 같은 조의 친구들만 출력하는 코드>

In [ ]:
# 예시 코드
def print_group_birthdays():
    group_birthdays = [
        ("송민서", "2004-11-08"),
        ("안수민", "2004-12-18"),
        ("오예준", "2004-12-14"),
        ("진혜윤", "2004-12-21"),
        ("김채민", "2004-12-25"),
        ("김예빈", "2004-12-27"),
        ("신희영", "2004-11-02"),
        ("김선민", "2004-12-05"),
        ("김혜인", "2004-10-31"),
        ("김주하", "2004-12-11"),
        ("김민주", "2004-12-16"),
        ("최가온", "2004-12-06"),
        ("배시은", "2004-12-09"),
        ("강수아", "2004-12-03"),
        ("김서빈", "2004-12-29"),
    ]
    print("같은 조 친구들의 이름과 생년월일:")
    for name, birth in group_birthdays:
        print(f"Name: {name}, Birthday: {birth}")

print_group_birthdays()

### ✅ 실행 결과
```
같은 조 친구들의 이름과 생년월일:
Name: 송민서, Birthday: 2004-11-08
Name: 안수민, Birthday: 2004-12-18
Name: 오예준, Birthday: 2004-12-14
Name: 진혜윤, Birthday: 2004-12-21
Name: 김채민, Birthday: 2004-12-25
Name: 김예빈, Birthday: 2004-12-27
Name: 신희영, Birthday: 2004-11-02
Name: 김선민, Birthday: 2004-12-05
Name: 김혜인, Birthday: 2004-10-31
Name: 김주하, Birthday: 2004-12-11
Name: 김민주, Birthday: 2004-12-16
Name: 최가온, Birthday: 2004-12-06
Name: 배시은, Birthday: 2004-12-09
Name: 강수아, Birthday: 2004-12-03
Name: 김서빈, Birthday: 2004-12-29
```

# <교재 8장 우선 순위 큐 연습문제>

### 1번
그럴 수 없다. 최대 힙은 모든 노드에 대해 ‘부모 노드의 값이 자식 노드의 값보다 크거나 같다.’가 성립해야 하므로 더 얕은 곳에 있는 원소가 더 깊은 곳에 있는 원소보다 항상 크거나 같아야 한다.

### 2번
아니다. 최대 힙에서 마지막 원소 A[n-1]이 항상 가장 작은 값을 가지는 것은 아니다. 최대 힙에서는 전체 요소들이 정렬되어 있는 것이 아니기 때문에, 가장 작은 값이 꼭 마지막 원소에 위치할 필요는 없다.

### 3번
절반인 n/2 개의 노드는 스며내리기 없이 그냥 넘어간다.

### 4번
최악의 경우 : Θ(log n)

최선의 경우 : Θ(1)

### 5번
매우 간단한 일이다. 맨 마지막 원소는 트리의 가장 마지막 위치에 있으므로 시간복잡도 Θ(1)에 삭제가 가능하다.

### 6번
학생이 말한 방식으로도 힙은 만들어지지만, 학생이 말한 방식은 매 삽입마다 스며오르기를 하므로 전체 시간 복잡도가 Θ(n log n)이 되어 기존의 방식보다 비효율적이다.

### 7번
스며오르기를 사용하면 된다. 증가된 값이 있는 ‘노드i’를 시작점으로 잡고 i의 부모 노드 인덱스를 계산한다. 부모보다 크면, 두 값을 교환한다. i를 부모 인덱스로 갱신하고 앞의 과정을 반복한다. 힙 속성이 만족될까지 이를 반복한다.

# <LeetCode 703.Kth Largest Element in Stream 문제>

In [ ]:
import heapq

class KthLargest:
    def __init__(self, k: int, nums: list[int]):
        self.k = k
        self.min_heap = []
        for num in nums:
            self.add(num)

    def add(self, val: int) -> int:
        heapq.heappush(self.min_heap, val)
        if len(self.min_heap) > self.k:
            heapq.heappop(self.min_heap)
        return self.min_heap[0]

kth = KthLargest(2, [6, 3, 9])
print(kth.add(10))  # 9
print(kth.add(2))   # 9
print(kth.add(11))  # 10

### ✅ 실행 결과
```
9
9
10
```